<center>
  <h4>Latest Fuel Price</h4>
  <%= select_tag 'city_name', options_for_select(City.city_list) %>
  <%= select_tag 'fuelType', options_for_select(["Petrol", "Diesel", "CNG"]) %>
  <br>
  <br>
  <br>
  <button class="btn btn-default" id="submit" onclick="fetchVal()">Fetch Price</button>
  <br>
  <br>
  <br>
  <h5><p id="result"></h5>
</center>

<script>
function fetchVal() {
  $("#result").text("Fetching latest value for you...");
  jsonData = {};
  var city = $('#city_name').val();
  var fuelType = $('#fuelType').val();
  $.ajax({
    type: "GET",
    dataType: "JSON",
    data: jsonData,
    url: "price?city=" + city + "&fuel_type=" + fuelType,
    success: function(data){
      if(data[fuelType] == null){
        $("#result").text("Data not available at this time.");
      } else {
        $("#result").text("Latest " + fuelType + " price for " + data['city'] + " is Rs. " + data[fuelType]);
      }
    },
    error: function(data){
      $("#result").text("Data not available at this time.");
    }
  });
}

</script>
